# Dependencias
node_modules

# Archivos de entorno
.env

# Archivos de kiro
.kiro

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de cobertura
coverage

# Archivos de sistema
.DS_Store
Thumbs.db

// Resetear GitHub para borrar las carpetas 

// git rm -r --cached .kiro
// git add .
// git commit -m "Eliminar carpeta .kiro del repositorio"
